html,body{
	width: 100%;
	height: 100%;
}
body{
	padding:0 3% 3% 3%;
}
.box{
	width: 100%;
	height: 100%;
	background-color: #042F5F;
	border:4px solid #070068;
	padding: 3%;
}
.top {
	width: 100%;
	text-align: center;
	padding-top: 0.8%;
	padding-bottom: 0.8%;

}
h5{
	color: #000000;
	font-size: 1.35vw;
	font-family:  'Myriad Pro Regular';
}
.box-white{
	width: 100%;
	height: 100%;
	border: 4px solid #0071BC;
	background-color: #FCFCFC;
	padding:3%;
}
.box1{
	width: 100%;
	height: 42%;
	background-color: #304A67;
	border: 4px solid #2267B5;
	padding: 3%;

}
.box2{
	width: 100%;
	height: 52%;
	margin-top: 3%;
	border:4px solid #2267B5;
	background-color: #304A67;
	position: relative;
}
.text{
	font-size: 51.1px;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Myriad Pro Regular';
}
.white{
	height: 114.31px;
    width: 187.91px;
	background-color: #FCFCFC;
    padding: 20px;
    display: inline-block; 
    margin-right: 94px;
}
.white:last-child {
	position: fixed;
    top: 159px;
    right: 160px;
    height: 114.31px;
    width: 187.91px;
	margin-right: 0;
}
.white:first-child{
	position:fixed;
	top:159px;
	left:160px;
}
.white:nth-child(2){
	margin-left: 286px;
}
.blue {
	width: 100%;
	height: 100%;
	background-color: #75B3F9;
	border: 1px solid #FFFFFF;
	position: relative;
}
.text1{
	position: absolute;
	text-align: center;
    top: 40%;
    width: 100%;
	font-size: 0.9vw;
	font-family:  'Myriad Pro Regular';
	color: #FFFFFF;
}



